* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  width: 1600px;
  height: 2448px;
}
header {
  position: absolute;
  width: 1415px;
  height: 786px;
  background-color: blue;
  margin-top: 35px;
  margin-left: 80px;
}
main {
  position: absolute;
  width: 1242px;
  height: 550px;
  
  margin-top: 1091px;
  margin-left: 141px;
}
.mainheader {
    position: absolute;
    width: 481px;
    height: 100px;
    top: 89.56px;
    left: 761px;
    font-size: 36px;

}
.maintext {
    position: absolute;
    width: 450px;
    height: 120px;
    top: 209.56px;
    left: 761px;
    font-size: 17px;
    line-height: 30px;

}
.btn {
    position: absolute;
    width: 164px;
    height: 48px;
    background-color: #fb8f1d;
    border-radius: 8px;
    top: 368.56px;
    left: 761px;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    font-size: 16px;

}

section {
  position: absolute;
  width: 1136.05px;
  height: 684px;
  
  margin-top: 1755px;
  margin-left: 227px;
}
.headsection {
  top: 34.56px;
  font-size: 36px;
  line-height: 50px;
}
.view {
  position: absolute;
  font-size: 17px;

  width: 79.78px;
  height: 60px;
  left: 1051.22px;
  top: 34.56px;
}
.simg {
  margin-top: 56px;

  overflow: hidden;
}
.simg .img1 {
  width: 264px;
  height: 231px;
  border-radius: 8px;
}

.simg .img2 {
  margin-left: 20.2px;
  width: 264px;
  height: 231px;
  border-radius: 8px;
}
h2 {
  position: absolute;
  width: 221.15px;

  top: 384.56px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
}

.blog2 {
  position: absolute;
  width: 244.38px;
  left: 288px;
  top: 384.56px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
}
.blog3 {
  position: absolute;
  width: 254.475px;
  left: 578.63px;
  top: 384.56px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
}
.blog4 {
  position: absolute;
  width: 221.15px;
  left: 867px;
  top: 384.56px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
}
.blogtext1 {
  position: absolute;
  width: 221.15px;
  top: 457.56px;
}
.blogtext2 {
  position: absolute;
  width: 221.15px;
  left: 288px;
  top: 457.56px;
}
.blogtext3 {
  position: absolute;
  width: 221.15px;
  left: 578.63px;
  top: 457.56px;
}
.blogtext4 {
  position: absolute;
  width: 221.15px;
  left: 867px;
  top: 457.56px;
}
.read1 {
  position: absolute;
  width: 221.15px;
  
  top: 558.56px;
}
.read2 {
  position: absolute;
  width: 221.15px;
  left: 288px;
  top: 558.56px;
}
.read3 {
  position: absolute;
  width: 221.15px;
  left: 578.63px;
  top: 558.56px;
}
.read4 {
  position: absolute;
  width: 221.15px;
  left: 867px;
  top: 558.56px;
}

footer {
  position: absolute;
  width: 1640px;
  height: 482px;
  left: 6px;
  top: 2553px;
  background-color: yellow;
}
footer .frame1 {
  background-image: url("img/frame1.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 10px;
  height: 22px;
  left: 710px;
  top: 482px;
}
